<!-- hash_extension/templates/hash_extension/perform_attack.html -->
{% extends "hash_extension/base.html" %}
{% block title %}Perform Length Extension Attack{% endblock %}
{% block content %}
<div class="container mx-auto">
    <h1 class="text-2xl font-bold my-4 text-center text-green-500 font-mono">Perform Length Extension Attack</h1>
    {% if error %}
        <div class="text-red-500 font-mono">{{ error }}</div>
    {% endif %}
    <form method="post" class="bg-black text-green-500 p-6 rounded-lg shadow-md w-full md:w-1/2 mx-auto font-mono">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-sm font-medium mb-1" for="url">URL</label>
            <input type="text" name="url" id="url" class="w-full p-3 border border-gray-700 bg-gray-900 text-green-500 rounded-lg focus:outline-none focus:border-green-500" required>
        </div>
        <button type="submit" class="w-full bg-green-500 text-black py-2 rounded-lg hover:bg-green-600 transition duration-300">Perform Attack</button>
    </form>
</div>
{% endblock %}
